#split {
    border-bottom: 4px solid #007bff;
    margin-bottom: 4em;
    width: 35%;
}

.card{
    height: 350px;
}

.card:hover{
    background-color: #efefef;
    box-shadow: 5px 5px 5px #efefef;
}